.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 56vw auto auto auto auto;
      grid-template-rows: 56vw auto auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  border-style: outset;
  border-width: 10px;
  margin: 80px;
  background-image: url("media/landing.png");
  background-size: 100vw;
  background-repeat: no-repeat;
}

.landing .signature {
  position: relative;
  top: 15px;
}

.landing .characteristics {
  position: relative;
  bottom: 60px;
  left: 120px;
  font-size: 18px;
}

.landing .summary {
  margin-right: 60px;
  font-size: 18px;
}

.landing .actions {
  margin-top: 30px;
  font-size: 18px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-style: solid none none;
  border-width: 1px;
  border-color: #49c2ca;
  padding: 80px;
}

.about .left-content {
  margin-top: -5px;
  margin-right: 40px;
}

.about .action {
  margin-top: 20px;
}

.about .photo {
  border-radius: 25px;
}

.recommendations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("./media/landing.png");
  background-size: 100vw;
  background-repeat: no-repeat;
  padding: 30px;
}

.recommendations .recommendation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  margin: 30px;
  padding: 25px;
  padding-bottom: 0px;
  border-radius: 25px;
}

.recommendations .recommendation .header {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.recommendations .recommendation .header .headshot {
  border-radius: 100px;
  position: relative;
  left: 18px;
}

.recommendations .recommendation .header .linkedin {
  position: relative;
  top: 15px;
  left: 20px;
  color: #0077b5;
  font-size: 32px;
}

.recommendations .recommendation .header .linkedin :hover {
  color: #49c2ca;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.recommendations .recommendation .recommender {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.contact {
  padding: 80px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact .left-content {
  margin: -5px;
}

.contact .left-content p {
  position: relative;
  bottom: 25px;
}

.contact .left-content a {
  font-size: 48px;
  position: relative;
  bottom: 35px;
  right: 2px;
}

.contact .left-content .linkedin {
  color: #0077b5;
  text-decoration: none;
}

.contact .left-content .linkedin :hover {
  color: #429ab4;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.contact .left-content .github {
  color: black;
  text-decoration: none;
  position: relative;
  left: 5px;
}

.contact .left-content .github :hover {
  color: #429ab4;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.contact .right-content button {
  border-radius: 15px;
  border: none;
  background-color: #49c2ca;
}

.contact .right-content button:hover {
  background-color: #429ab4;
}

.footer {
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer .copyright {
  position: relative;
  bottom: 50px;
  left: 100px;
}

@media (max-width: 1220px) {
  .landing {
    margin: 60px;
    background-size: 100vw;
  }
}

@media (max-width: 1170px) {
  .landing {
    margin: 40px;
    background-size: 100vw;
  }
}

@media (max-width: 1130px) {
  .landing {
    margin: 20px;
    background-size: 100vw;
  }
}

@media (max-width: 1080px) {
  .landing {
    margin: 0px;
    background-size: 110vw;
    border: none;
    border-radius: 0;
  }
  .about {
    border-style: none;
  }
}

@media (max-width: 980px) {
  .container {
    -ms-grid-rows: 70vw auto auto auto auto;
        grid-template-rows: 70vw auto auto auto auto;
  }
  .landing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: 135vw;
  }
  .landing .left-content {
    margin-top: 30px;
  }
  .landing .summary {
    margin: 60px;
    margin-top: 0px;
    margin-bottom: -30px;
  }
  .landing .actions {
    margin: 60px;
    margin-bottom: 100px;
  }
}

@media (max-width: 850px) {
  .container {
    -ms-grid-rows: 80vw auto auto auto auto;
        grid-template-rows: 80vw auto auto auto auto;
  }
  .landing {
    background-size: 155vw;
  }
  .landing .left-content {
    margin-top: 30px;
  }
  .landing .summary {
    margin: 60px;
    margin-top: 0px;
    margin-bottom: -30px;
  }
  .landing .actions {
    margin: 60px;
    margin-bottom: 100px;
  }
}

@media (max-width: 750px) {
  .container {
    -ms-grid-rows: 90vw auto auto auto auto;
        grid-template-rows: 90vw auto auto auto auto;
  }
  .landing {
    background-size: 170vw;
  }
  .landing .left-content {
    margin-top: 30px;
  }
  .landing .summary {
    margin: 60px;
    margin-top: 0px;
    margin-bottom: -30px;
  }
  .landing .actions {
    margin: 60px;
    margin-bottom: 100px;
  }
}

@media (max-width: 700px) {
  .container {
    -ms-grid-rows: 100vw auto auto auto auto;
        grid-template-rows: 100vw auto auto auto auto;
  }
  .landing {
    background-size: 190vw;
  }
  .landing .left-content {
    margin-top: 30px;
  }
  .landing .summary {
    margin: 60px;
    margin-top: 0px;
    margin-bottom: -30px;
  }
  .landing .actions {
    margin: 60px;
    margin-bottom: 100px;
  }
}

@media (max-width: 650px) {
  .container {
    -ms-grid-rows: 110vw auto auto auto auto;
        grid-template-rows: 110vw auto auto auto auto;
  }
  .landing {
    background-size: 210vw;
  }
  .landing .left-content {
    margin-top: 30px;
  }
  .landing .summary {
    margin: 60px;
    margin-top: 0px;
    margin-bottom: -30px;
  }
  .landing .actions {
    margin: 60px;
    margin-bottom: 100px;
  }
}

@media (max-width: 600px) {
  .container {
    -ms-grid-rows: 120vw auto auto auto auto;
        grid-template-rows: 120vw auto auto auto auto;
  }
  .landing {
    background-size: 230vw;
  }
  .landing .left-content {
    margin-top: 30px;
  }
  .landing .summary {
    margin: 60px;
    margin-top: 0px;
    margin-bottom: -30px;
  }
  .landing .actions {
    margin: 60px;
    margin-bottom: 100px;
  }
}

@media (max-width: 550px) {
  .container {
    -ms-grid-rows: 130vw auto auto auto auto;
        grid-template-rows: 130vw auto auto auto auto;
  }
  .landing {
    background-size: 245vw;
  }
  .landing .left-content {
    margin-top: 30px;
  }
  .landing .summary {
    margin: 60px;
    margin-top: 0px;
    margin-bottom: -30px;
  }
  .landing .actions {
    margin: 60px;
    margin-bottom: 100px;
  }
}

@media (max-width: 550px) {
  .container {
    -ms-grid-rows: 130vw auto auto auto auto;
        grid-template-rows: 130vw auto auto auto auto;
  }
  .landing {
    background-size: 245vw;
  }
  .landing .left-content {
    margin-top: 30px;
  }
  .landing .summary {
    margin: 60px;
    margin-top: 0px;
    margin-bottom: -30px;
  }
  .landing .actions {
    margin: 60px;
    margin-bottom: 100px;
  }
}

@media (max-width: 540px) {
  .container {
    -ms-grid-rows: 140vw auto auto auto auto;
        grid-template-rows: 140vw auto auto auto auto;
  }
  .landing {
    background-size: 265vw;
  }
  .landing .left-content {
    margin-top: 30px;
  }
  .landing .summary {
    margin: 60px;
    margin-top: 0px;
    margin-bottom: -30px;
  }
  .landing .actions {
    margin: 60px;
    margin-bottom: 100px;
  }
}

@media (max-width: 530px) {
  .container {
    -ms-grid-rows: 150vw auto auto auto auto;
        grid-template-rows: 150vw auto auto auto auto;
  }
  .landing {
    background-size: 285vw;
  }
  .landing .left-content {
    margin-top: 30px;
  }
  .landing .summary {
    margin: 60px;
    margin-top: 0px;
    margin-bottom: -30px;
  }
  .landing .actions {
    margin: 60px;
    margin-bottom: 100px;
  }
}

@media (max-width: 520px) {
  .container {
    -ms-grid-rows: 160vw auto auto auto auto;
        grid-template-rows: 160vw auto auto auto auto;
  }
  .landing {
    background-size: 305vw;
  }
  .landing .left-content {
    margin-top: 30px;
  }
  .landing .summary {
    margin: 60px;
    margin-top: 0px;
    margin-bottom: -30px;
  }
  .landing .actions {
    margin: 60px;
    margin-bottom: 100px;
  }
}

@media (max-width: 510px) {
  .container {
    -ms-grid-rows: 170vw auto auto auto auto;
        grid-template-rows: 170vw auto auto auto auto;
  }
  .landing {
    background-size: 325vw;
  }
  .landing .left-content {
    margin-top: 30px;
  }
  .landing .summary {
    margin: 60px;
    margin-top: 0px;
    margin-bottom: -30px;
  }
  .landing .actions {
    margin: 60px;
    margin-bottom: 100px;
  }
}

@media (max-width: 495px) {
  .container {
    -ms-grid-rows: 180vw auto auto auto auto;
        grid-template-rows: 180vw auto auto auto auto;
  }
  .landing {
    background-size: 345vw;
  }
  .landing .left-content {
    margin-top: 40px;
  }
  .landing .left-content .signature {
    width: 500px;
  }
  .landing .left-content .characteristics {
    left: 95px;
  }
  .landing .summary {
    margin: 40px;
    margin-top: 0px;
    margin-bottom: -30px;
  }
  .landing .actions {
    margin: 40px;
    margin-top: 60px;
    margin-bottom: 100px;
  }
}

@media (max-width: 400px) {
  .container {
    -ms-grid-rows: 210vw auto auto auto auto;
        grid-template-rows: 210vw auto auto auto auto;
  }
  .landing {
    background-size: 400vw;
  }
  .landing .left-content {
    margin-top: 40px;
  }
  .landing .left-content .signature {
    width: 450px;
  }
  .landing .left-content .characteristics {
    left: 70px;
  }
}

@media (max-width: 360px) {
  .container {
    -ms-grid-rows: 260vw auto auto auto auto;
        grid-template-rows: 260vw auto auto auto auto;
  }
  .landing {
    background-size: 490vw;
  }
  .landing .left-content {
    margin-top: 40px;
  }
  .landing .left-content .signature {
    width: 400px;
  }
  .landing .left-content .characteristics {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */